/* first section responsive */
section.banner_desc{
  display: flex;
  justify-content: space-between;
  padding: 15px 25px;
  align-items: center;
}

@media only screen and (max-width: 767px) {
  section.banner_desc {
    flex-direction: column;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
  }
}


.gp_main .gp_banner {
  width: 100%;
}

@media only screen and (max-width: 767px) {
  .gp_main .gp_banner {
    order: 1;
    margin-bottom: 25px;
  }
}

.gp_main .gp_banner .banner_container img{
  width: 100%;
  height: auto;
}

@media only screen and (max-width: 767px) {
  .gp_main .gp_banner .banner_container {
    box-shadow: 0px 0px 1px 0px silver;
    border-radius: 0;
  }
}

.gp_main .gp_banner .banner_container button.change_bg_btn {
  position: absolute;
  top: 90px;
  left: 50%;
  transform: translateX(-50%);
  font-family: lato-regular;
  text-transform: uppercase;
}

.gp_main .gp_banner .banner_container button.change_bg_btn i {
  margin-right: 5px;
}

.gp_main .group_desc {
  padding: 25px 0;
  width: 100%;
}

@media only screen and (max-width: 767px) {
  .gp_main .group_desc {
    order: 2;
  }
}

.gp_main .group_desc .group_desc_container .group_text {
  margin-bottom: 25px;
}

@media only screen and (max-width: 767px) {
  .gp_main .group_desc .group_desc_container .group_text {
    text-align: center;
  }
}

.gp_main .group_desc .group_desc_container .group_text h3.group_name {
  font-size: 25px;
  font-family: montserrat-bold;
  margin-bottom: 15px;
}

@media only screen and (min-width: 769px) {
  .gp_main .group_desc .group_desc_container .group_text h3.group_name {
    font-size: 2.5vw;
  }
}

.gp_main .group_desc .group_desc_container .group_text p {
  font-size: 16px;
  font-family: montserrat-regular;
  margin: 0;
  margin-bottom: 2.5px;
  line-height: 20px;
}
@media only screen and (min-width: 769px) {
  .gp_main .group_desc .group_desc_container .group_text p {
    font-size: 1.3vw;
  }
}
.gp_main .group_desc .group_desc_container .group_text p.group_metta {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 2.5px;
}

@media only screen and (max-width: 767px) {
  .gp_main .group_desc .group_desc_container .group_text p.group_metta {
    justify-content: center;
  }
}

.gp_main .group_desc .group_desc_container .group_text p.group_metta span {
  display: inline-block;
  font-size: 16px;
  color: #7B7474;
  font-weight: 600;
}

.gp_main .group_desc .group_desc_container .group_text p.group_metta span.group_badge {
  line-height: 25px;
  padding: 0 10px;
  height: 25px;
  font-size: 14px;
  background-color: #8FB04E;
  text-transform: capitalize;
  border-radius: 15px;
  margin-right: 15px;
  color: #fff;
  font-weight: 700;
}

.gp_main .group_desc .group_desc_container .group_text p.group_metta span.group_hearts {
  border-right: 1px solid silver;
  padding-right: 7.5px;
  margin-right: 7px;
}

.gp_main .group_desc .group_desc_container .group_text p.group_metta span.group_memebers {
  margin-right: 5px;
}

.gp_main .group_desc .group_desc_container .group_btn {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

@media only screen and (max-width: 767px) {
  .gp_main .group_desc .group_desc_container .group_btn {
    justify-content: center;
  }
}

.gp_main .group_desc .group_desc_container .group_btn span {
  margin: 0 10px;
  font-size: 25px;
  cursor: pointer;
  transition: .3s;
}

.gp_main .group_desc .group_desc_container .group_btn span:hover {
  color: #15AFE8;
}

.gp_main .group_desc .group_desc_container .group_btn button {
  font-family: lato-regular;
  padding: 5px 20px;
  text-transform: capitalize;
  background-color: #F42C4C;
  border: 2px solid #F42C4C;
  color: #fff;
}

.gp_main .group_desc .group_desc_container .group_btn button:hover {
  background-color: transparent;
  color: #F42C4C;
}


















.gp_main section.group_info .group_info_container {
  margin: 25px auto;
  margin-bottom: 75px;
  background-color: #fff;
}

.gp_main section.group_info .group_info_container 
.grup_info_nav ul{
  list-style-type: none;
  border-bottom: 2px solid rgba(0, 0, 0, 0.05);
  margin-bottom: 75px;
  margin-top: 25px;
  text-align: center;
}

@media only screen and (max-width: 767px) {
  .gp_main section.group_info .group_info_container 
  .grup_info_nav ul{
    border-bottom: none;
  }
}

.gp_main section.group_info .group_info_container 
.grup_info_nav ul li{
  display: inline-block;
  padding: 0 15px;
  padding-top: 0;
}

.gp_main section.group_info .group_info_container 
.grup_info_nav ul li a{
  font-family: lato-regular;
  font-size: 22px;
  text-decoration: none;
  color: #7B7474;
  transition: .3s;
  padding-bottom: 10px;
  margin-bottom: -1px;
  display: inline-block;
  border-bottom: 2px solid transparent;
}

.gp_main section.group_info .group_info_container 
.grup_info_nav ul li a.active{
  color: #15AFE8;
  border-color: #15AFE8;
}

.gp_main section.group_info .group_info_container 
.grup_info_nav ul li a:hover{
  color: #15AFE8;
}

.gp_main section.group_info .group_info_container .form-group {
  margin-bottom: 25px;
}

.gp_main section.group_info .group_info_container .form-group h6 {
  font-size: 20px;
  font-family: montserrat-bold;
}

.gp_main section.group_info .group_info_container .form-group select {
  cursor: pointer;
  font-family: lato-regular;
  height: 50px;
  line-height: 40px;
}

.gp_main section.group_info .group_info_container .form-group input {
  font-family: lato-regular;
  height: 50px;
  line-height: 40px;
}

.gp_main section.group_info .group_info_container .form-group.radio_btn_group .radio_btn_item {
  display: flex;
}

.gp_main section.group_info .group_info_container .form-group.radio_btn_group .radio_btn_item input {
  margin-right: 10px;
}

.gp_main section.group_info .group_info_container .form-group.radio_btn_group .radio_btn_item p {
  margin: 0;
  margin-top: 12px;
  font-family: lato-regular;
  font-size: 16px;
  color: #7B7474;
}

.gp_main section.group_info .group_info_container .form-group.radio_btn_group .radio_btn_item p label {
  display: block;
  font-family: montserrat-bold;
  margin: 0;
  font-size: 17px;
  cursor: pointer;
}

.gp_main section.group_info .group_info_container .form-group.member_roles {
  margin-top: 50px;
}

.gp_main section.group_info .group_info_container .form-group.member_roles h6 {
  position: relative;
  margin-bottom: 25px;
}

.gp_main section.group_info .group_info_container .form-group.member_roles h4{
  font-family: montserrat-bold;
  margin-bottom: 25px;
}

.gp_main section.group_info .group_info_container .form-group.member_roles h4 span a {
  font-family: montseraat-bold;
  margin-left: 5px;
  color: #15AFE8;
  transition: .3s;
}

.gp_main section.group_info .group_info_container .form-group.member_roles h6 span a:hover {
  color: #7B7474;
}

.gp_main section.group_info .group_info_container .form-group.member_roles .members_list .members_img {
  margin-top: 15px;
  margin-bottom: 5px;
}

.gp_main section.group_info .group_info_container .form-group.member_roles .members_list .members_img img {
  height: 30px;
  width: 30px;
  border-radius: 15px;
  margin-left: -10px;
  border: 2px solid #fff;
}

.gp_main section.group_info .group_info_container .form-group.member_roles .members_list .members_img img:first-child {
  margin: 0;
}

.gp_main section.group_info .group_info_container .form-group.member_roles .members_list p {
  margin: 0;
  font-family: montserrat-bold;
  color: #7B7474;
  font-size: 16px;
}

.gp_main section.group_info .group_info_container .form-group.member_roles .members_list p span {
  color: #333;
}

.gp_main section.group_info .group_info_container .form-group.member_roles .admin_list .admin_img {
  margin-top: 15px;
  margin-bottom: 5px;
}

.gp_main section.group_info .group_info_container .form-group.member_roles .admin_list .admin_img img {
  height: 30px;
  width: 30px;
  border-radius: 15px;
  margin-left: -10px;
  border: 2px solid #fff;
}

.gp_main section.group_info .group_info_container .form-group.member_roles .admin_list .admin_img img:first-child {
  margin: 0;
}

.gp_main section.group_info .group_info_container .form-group.member_roles .admin_list p {
  margin: 0;
  font-family: montserrat-bold;
  color: #7B7474;
  font-size: 16px;
}

.gp_main section.group_info .group_info_container .form-group.member_roles .admin_list p span {
  color: #333;
}

.gp_main section.group_info .group_info_container .form-group.form_button {
  margin-top: 50px;
}

.gp_main section.group_info .group_info_container .form-group.form_button button {
  margin-bottom: 10px;
  margin-right: 10px;
  font-family: lato-regular;
  text-transform: capitalize;
}

.gp_main section.group_info .group_info_container
.form-group.form_button button.change_info{
  border: 2px solid #15AFE8;
  background-color: #15AFE8;
  color: #ffff;
  transition: .3s;
}

.gp_main section.group_info .group_info_container
.form-group.form_button button.change_info:hover{
  background-color: transparent;
  color: #15AFE8;
}

@keyframes fadeInAnimation {
  from {
    margin-top: 10px;
    opacity: 0;
  }
  to {
    margin-bottom: 0;
    opacity: 1;
  }
}










/* secondery items tsyle */
.secondery_item {
  position: relative;
}

.secondery_item.slided::before {
  position: absolute;
  top: -10px;
  left: 19px;
  width: 80px;
  height: 150px;
  z-index: 0;
  content: '';
  background-color: transparent;
}

@media only screen and (max-width: 767px) {
  .secondery_item.slided::before {
    left: -69px;
  }
}

.secondery_item ul.secondery_dropdown {
  position: absolute;
  top: -5px;
  left: 35px;
  background-color: #fff;
  width: 200px;
  max-height: 100vh;
  border-radius: 5px;
  box-shadow: 1px 1px 2px 1px grey;
  overflow: visible;
  z-index: 999;
  transition: .3s;
  display: none;
}

@media only screen and (max-width: 767px) {
  .secondery_item ul.secondery_dropdown {
    left: auto;
    right: 35px;
  }
}

.secondery_item ul.secondery_dropdown.slided {
  display: block;
  animation-name: fadeInAnimation;
  animation-duration: .3s;
}

.secondery_item ul.secondery_dropdown::before {
  position: absolute;
  top: 10px;
  left: -8px;
  transform: translateX(-50%);
  height: 15px;
  width: 15px;
  content: '';
  background-color: transparent;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid grey;
}

@media only screen and (max-width: 767px) {
  .secondery_item ul.secondery_dropdown::before {
    left: auto;
    right: -45px;
    border-right: 15px solid transparent;
    border-left: 15px solid grey;
  }
}

.secondery_item ul.secondery_dropdown::after {
  position: absolute;
  top: 10px;
  left: -8px;
  transform: translateX(-50%);
  height: 15px;
  width: 15px;
  content: '';
  background-color: transparent;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid #fff;
  right: -20px;
}
@media (min-width: 576px) and (max-width: 768px) {
  .secondery_item ul.secondery_dropdown::after {
    left: auto;
    right: -45px;
    border-right: 15px solid transparent;
    border-left: 15px solid #fff;
  }
}

.secondery_item ul.secondery_dropdown li {
  padding: 10px 15px;
  transition: .3s;
  display: block;
  border-bottom: 1px solid #f5f5f5;
}

.secondery_item ul.secondery_dropdown li:hover {
  background-color: #f5f5f5;
}

.secondery_item ul.secondery_dropdown li a {
  font-size: 16px;
  text-transform: capitalize;
  font-family: lato-regular;
  text-decoration: none;
  line-height: 1.1;
  display: block;
}







/* ========================================================== */
/* modal styles start here */
.modal_container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: scroll;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99999;
  display: none;
}

.modal_container.popped {
  display: block;
}

.modal_container .modal_item {
  width: 65%;
  background-color: #fff;
  padding: 50px;
  border-radius: 10px;
  margin: 5% auto;
  position: relative;
  overflow: hidden;
  overflow-y: scroll;
  display: none;
  transition: .3s;
}

 /* Hide scrollbar for Chrome, Safari and Opera */
 .modal_container .modal_item::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.modal_container .modal_item {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}



.modal_container .modal_item.popped {
  display: block;
}

@media only screen and (max-width: 991px) {
  .modal_container .modal_item {
    width: 85%;
  }
}

@media only screen and (max-width: 575px) {
  .modal_container .modal_item {
    width: 95%;
    padding: 25px;
    padding-top: 50px;
  }
}

.modal_container .modal_item .modal_closer {
  position: absolute;
  right: 0px;
  top: 0px;
  color: red;
  padding: 10px 12.5px;
  font-size: 20px;
  cursor: pointer;
  transition: .3s;
}

.modal_container .modal_item .modal_closer:hover {
  background-color: red;
  color: #fff;
}

.modal_container .modal_item .invite_option {
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media only screen and (max-width: 480px) {
  .modal_container .modal_item .invite_option {
    align-items: start;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}

@media only screen and (max-width: 480px) {
  .modal_container .modal_item .invite_option span {
    width: 100%;
  }
}

.modal_container .modal_item .invite_option button {
  margin: 5px 0;
  margin-right: 15px;
  font-family: montserrat-regular;
  text-transform: capitalize;
}

.modal_container .modal_item .invite_option button.add_btn{
  background-color: #15AFE8;
  color: #fff;
  border: 2px solid #15AFE8;
  transition: .3s;
}

.modal_container .modal_item .invite_option button.add_btn:hover{
  background-color: transparent;
  color: #15AFE8;
}

@media only screen and (max-width: 480px) {
  .modal_container .modal_item .invite_option button {
    font-size: 14px;
    margin: 5px;
  }
}

.modal_container .modal_item .invite_option a {
  margin: 10px 0;
  font-family: lato-bold;
  text-transform: uppercase;
  font-size: 18px;
  color: #15AFE8;
  text-decoration: none;
  transition: .3s;
}

@media only screen and (max-width: 480px) {
  .modal_container .modal_item .invite_option a {
    font-size: 16px;
    margin-top: 15px;
  }
}

.modal_container .modal_item .invite_option a:hover {
  color: #7B7474;
}

.modal_container .modal_item .search_member {
  position: relative;
  margin-bottom: 50px;
}

.modal_container .modal_item .search_member input {
  padding-right: 105px;
  font-family: lato-regular;
}

.modal_container .modal_item .search_member button {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  font-family: sans-serif;
  text-transform: capitalize;
  font-size: 16px;
  color: #fff;
  background-color: #15AFE8;
}

.modal_container .modal_item a.share_link {
  margin-bottom: 35px;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.modal_container .modal_item a.share_link span {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #f5f5f5;
  text-align: center;
  display: inline-block;
  margin-right: 15px;
  color: #333;
}

.modal_container .modal_item a.share_link span i {
  font-size: 20px;
  line-height: 48px;
  transition: .3s;
}

.modal_container .modal_item a.share_link span i:hover {
  color: #15AFE8;
}

.modal_container .modal_item a.share_link p {
  width: calc( 100% - 65px);
  font-size: 18px;
  margin: 0;
  line-height: 1.1;
  font-family: lato-bold;
  color: #333;
  transition: .3s;
}

.modal_container .modal_item a.share_link p:hover {
  color: #15AFE8;
}

.modal_container .modal_item ul.suggest_members {
  list-style-type: none;
}

.modal_container .modal_item ul.suggest_members li {
  margin: 15px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal_container .modal_item ul.suggest_members li .user_name_img {
  display: flex;
  align-items: center;
}

.modal_container .modal_item ul.suggest_members li .user_name_img img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-right: 15px;
}

.modal_container .modal_item ul.suggest_members li .user_name_img p {
  margin: 0;
  font-family: montserrat-bold;
}

.modal_container .modal_item ul.suggest_members li
.add_member_btn.added_member{
  background-color: #15AFE8;
  font-family: moon-bold;
  padding: 5px 20px;
  color: #fff;
}

.modal_container .modal_item.user_role h6 {
  text-align: center;
  margin-bottom: 25px;
  font-size: 22px;
  font-family: montserrat-bold;
}

.modal_container .modal_item.user_role h6 a{
  font-family: lato-regular;
  color: #15AFE8;
  font-size: 18px;
  background-color: #ffff;
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 1px 1px silver;
  text-decoration: none;
  transition: .3s;
}

.modal_container .modal_item.user_role h6 a:hover{
  color: #fff;
  background-color: #15AFE8;
}

.modal_container .modal_item.user_role .search_member {
  margin-bottom: 25px;
  max-width: 450px;
  margin: 0 auto;
  margin-bottom: 25px;
}

.modal_container .modal_item.user_role ul.user_role_list {
  list-style-type: none;
  margin-bottom: 25px;
}

@media only screen and (max-width: 767px) {
  .modal_container .modal_item.user_role ul.user_role_list {
    text-align: center;
    margin-bottom: 50px;
  }
}

.modal_container .modal_item.user_role ul.user_role_list li {
  display: inline-block;
  padding: 10px;
}

@media only screen and (max-width: 767px) {
  .modal_container .modal_item.user_role ul.user_role_list li {
    padding: 0 5px;
    padding-bottom: 5px;
  }
}

.modal_container .modal_item.user_role ul.user_role_list li a {
  font-size: 17px;
  font-family: lato-bold;
  color: #7B7474;
  transition: .3s;
}

.modal_container .modal_item.user_role ul.user_role_list li a.active {
  color: #15AFE8;
}

.modal_container .modal_item.user_role ul.user_role_list li a:hover {
  color: #15AFE8;
}

.modal_container .modal_item.user_role ul.suggest_members li {
  align-items: start;
  margin-bottom: 25px;
}

@media only screen and (max-width: 575px) {
  .modal_container .modal_item.user_role ul.suggest_members li {
    flex-direction: column;
  }
}

.modal_container .modal_item.user_role ul.suggest_members li .user_name_img {
  align-items: start;
  width: calc( 100% - 155px);
}

@media only screen and (max-width: 575px) {
  .modal_container .modal_item.user_role ul.suggest_members li .user_name_img {
    width: 100%;
  }
}

.modal_container .modal_item.user_role ul.suggest_members li .user_name_img p span {
  font-size: 16px;
  line-height: 18px;
  color: #7b7474;
  font-family: lato-regular;
  display: block;
}
/*# sourceMappingURL=group-page.css.map */
.role_dropdown{
  width: 150px;
  border: 1px solid silver;
  border-radius: 5px;
  position: relative;
  padding-right: 25px;
  transition: .3s;
}

.role_dropdown.exist_role{
  width: 300px;
}

@media only screen and (max-width: 575px) {
  .role_dropdown {
    margin-top: 10px;
  }
  .role_dropdown.exist_role{
    width: 250px;
  }
}

.role_dropdown.dropped{
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.role_dropdown span{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  color: #7B7474;
  transition: .3s;
}

.role_dropdown.dropped span{
  transform: translateY(-50%) rotate(180deg);
}

.role_dropdown a{
  font-family: montserrat-regular;
  padding: 10px;
  display: block;
  line-height: 1.15;
  font-size: 14px;
  transition: .3s;
}

.role_dropdown .change_role_btn{
  background-color: #15AFE8;
  color: #fff;
  border-radius: 5px;
  font-family: montserrat-regular;
  width: 120px;
  font-size: 15px;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
}

.role_dropdown .change_role_btn{
  outline: none;
}

.role_dropdown a:hover{
  color: #15AFE8!important;
}

.role_dropdown .role_secondery{
  position: absolute;
  top: 100%;
  right: 0;
  width: 200px;
  box-shadow: 0px 0px 2px 0px #7B7474;
  border-radius: 5px;
  background-color: #fff;
  z-index: 9999;
  border: 1px solid silver;
  overflow: hidden;
  display: none;
  opacity: 0;
  padding: 0 10px;
}

.role_dropdown.dropped .role_secondery{
  display: block;
  opacity: 1;
}

.role_dropdown .role_secondery a{
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.role_dropdown .role_secondery a:hover{
  text-decoration: underline;
}

.role_dropdown .role_secondery a:last-child{
  border: none;
}

html {
  scroll-behavior: smooth;
}